@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  color: maroon;
  background-color: mistyrose;
}

h1 {
  color: rgb(102, 69, 23);
}

#heading1 {
  color: mediumorchid;
  background-color: floralwhite;
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  text-align: center;
}

#heading2 {
  color: darkmagenta;
  font-family: cursive;
  text-indent: 50px;
}

.heading {
  color: darkorchid;
  font-family: cursive;
}

.paragraf {
  color: hotpink;
  text-align: justify;
  font: italic 20px "Lucida Sans", sans-serif;
}
