.header {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #f6f6f6;
  background-color: #8785a2;
}

.main {
  background-color: #f6f6f6;
  text-align: justify;
  font-size: 24px;
  line-height: 1.5;
}
.words {
  display: inline-block;
  width: 350px;
  height: 150px;
  font: 600 24px "Arial", sans-serif;
  text-decoration: underline;
  color: #8785a2;
  background-color: #ffe2e2;
}
.footer {
  background-color: #f6f6f6;
  color: #8785a2;
  text-align: center;
  text-decoration: underline;
}

em {
  color: #8785a2;
  font-size: 18px;
}
